body {
  background-color : #000 !important;
  background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/skewed_print.png") !important;
  color            : #ddd !important;
}

.messages {
  background-color : #222 !important;
  border           : none !important;
  color            : #ddd !important;
}

.msg-small, #sidebar {
  color : #ddd !important;
}

/* Begin Bottom Area */
#input-area {
  background-color : #333 !important;
  background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/cartographer.png") !important;
}

#tabcomplete li {
  background-color: #000 !important;
}

#input {
  background-color : #000 !important;
  color            : #ddd !important;
}

/* End Bottom Area */

div.message.reply-parent, div.message.reply-child {
  background-color : #333 !important;
  border           : 1px solid #fff !important;
}

div.message .meta,
.timestamp {
  background-color : #333 !important;
  color            : #ddd !important;
}

.mention {
  background-color : #fff !important;
  color            : #000 !important;
}

a.signature {
  color : #ddd !important;
}

.flair {
  color : #ddd !important;
}

/* Begin OneBoxing */
.ob-tweet,
.ob-twitteruser,
.ob-wikipedia,
.ob-amazon,
.ob-gist,
.ob-message,
.ob-lpadbug,
.ob-manpage,
.ob-blog,
.ob-exception,
.ob-post,
.ob-user,
.ob-job {
  background-color : #333 !important;
  color            : #ddd !important;
}

.ob-post-title a,
.ob-tweet .ob-status-text,
.ob-wikipedia-title a,
.ob-amazon-title a,
.ob-lpadbug-title a,
.ob-manpage-title a,
.ob-blog-title a {
  color : #ddd !important;
}

/* End OneBoxing */

/* Begin Notifications */
.notification, #feed-ticker {
  background: rgba(0, 0, 0, 0.95) !important;

  -moz-box-shadow: 0 1px 10px #545454;
  -webkit-box-shadow: 0 1px 10px #545454;
  box-shadow: 0 1px 10px #545454;
}
.ticker-item a {
  color : #509FD8 !important;
}
/* End Notifications */

/* Begin Sidebar */
#searchbox {
  background-color : #000 !important;
  color            : #ddd !important;
}

#sidebar #info #roomtitle {
  text-shadow : 0px 1px 0px #000 !important;
}

#sidebar #info #sidebar-menu,
#present-users,
ul#my-rooms,
div#starred-posts > div > ul > li {
  border-bottom : 1px dotted #222 !important;
}

.room-info > .last-message {
  margin-left : 10px !important;
}

ul#my-rooms> li.activity-0 {
  color : #fff !important;
}

ul#my-rooms> li.activity-1 {
  color : #ddd !important;
}

ul#my-rooms> li.activity-2 {
  color : #bbb !important;
}

ul#my-rooms> li.activity-3 {
  color : #999 !important;
}

ul#my-rooms> li.activity-4 {
  color : #888 !important;
}

ul#my-rooms> li.activity-5 {
  color : #777 !important;
}

ul#my-rooms> li.activity-6 {
  color : #666 !important;
}

ul#my-rooms> li:hover {
  background-color : #333 !important;
}

ul#my-rooms> li:hover a,
ul#my-rooms> li:hover div.last-message {
  color : #fff !important;
}

ul#my-rooms .quickleave {
  float   : right !important;
  opacity : 0.3 !important;
}

ul#my-rooms .quickleave:hover {
  opacity : 1.0 !important;
}

ul#my-rooms .quickswitch,
ul#my-rooms .quickleave,
.vote-count-container.stars .img {
  background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/sprites.png") !important;
}

#starred-posts ul li:hover {
  background-color : #333 !important;
}

/* End Sidebar */
.vote-count-container.stars.owner-star .img,
.vote-count-container.stars.user-star .img,
.vote-count-container.stars.owner-star.user-star .img,
.sprite {
  background-image : url("http://raw.github.com/oliversalzburg/se-chat-dark-theme/master/img/sprites.png") !important;
}

div.message:hover .action-link,
.timestamp:hover + div.message .action-link {
  color            : #eee !important;
  background-color : #333 !important;
}